{% extends "main/base.html" %}
{% block content %}

    <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">О проекте</h1>
          <h2 class="lead text-muted">Это окончательная версия выпускного проекта на Python Django. Сайт - доска объвлений, где реализован функционал: </h2><br>
          <h2 class="lead text-muted">- система регистрации и авторизации, а также ограничение доступа к просмотру профилей для неавторизованных посетителей </h2><br>
          <h2 class="lead text-muted">- автоматическое создание профилей пользователей и предоставление авторам возможности добавлять, редактировать и удалять свои записи со стороны фронтенда. </h2><br>
          <h2 class="lead text-muted">- вывод всех постов конкретного пользователя. </h2><br>
      </div>
    </div>
  </section>

{% endblock content %}