{% extends "main/base.html" %}
{% block content %}


    <div class="content-section">
      <div class="media">
       <center> <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"></center>
        <div class="media-body">
            <center><h2 class="account-heading">{{ user.username }}</h2></center>
            <center><p class="text-secondary">{{ user.email }}</p></center><br>
        </div>
      </div>


      <form class="border" method="POST" enctype="multipart/form-data">
      	{% csrf_token %}

      	<fieldset class="form-group">
            <legend class="border-bottom mb-4" align="center">Ваш профиль</legend>
             <div>
                        {% for field in u_form %}
                        <div class="form-group">
                            {{field.label_tag}}
                         <div>{{field}}</div>
                        {% endfor %}
                    </div><br>
                 <div>
                        {% for field in p_form %}
                        <div class="form-group">
                            {{field.label_tag}}
                         <div> {{field}} </div>
                        {% endfor %}

                     </div><br>
                 </div>
             </div>
      	</fieldset>

      	<div class="form-group">
          	<button class="btn btn-secondary my-2" type="submit">Обновить</button>
      	</div>
  	</form>
    </div>


{% endblock content %}